# Main part of this gitignore file was taken from https://github.com/github/gitignore/blob/main/TeX.gitignore

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## lipics OG files (used for backup, not to be tracked/uploaded)
LIPICS-src/*

# TODO: Determine if the vtc file has to be tracked